@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  /* width: 75%; */
  /* margin: 0 auto; */
  border: 1px solid black;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* background: url("./assets/images/bg4.png") center center/cover; */
  /* background: url("./assets/images/bg3.jpg") center center/cover; */
}
