.sign-in-container {
  background: url("../../../../public/images/signupM.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-form h1 {
  text-align: center;
}

.sign-form {
  width: 300px;
  /* height: 40%; */
  border-radius: 15px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-secondary);
  /* align-items: center; */
  animation: entrance 1s ease-in-out;
}

@keyframes entrance {
  from {
    position: absolute;
    bottom: 100%;
  }
  to {
    bottom: 0%;
  }
}

@media screen and (max-width: 700px) {
  .sign-in-container {
    /* background: url("../../../public/images/signupS.jpg"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
  }
  .sign-form {
    width: 50%;
    margin: auto;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .sign-form {
    width: 60%;
    font-size: larger;
  }
}
