.posts-container {
  /* width: 60vw; */
  /* min-width: 35rem; */
  /* margin: auto; */
  width: 75%;
  margin: 0 auto;
}

/* media query */
@media screen and (max-width: 650px) {
  .posts-container {
    width: 90vw;
    min-width: 35rem;
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  .posts-container {
    width: 95vw;
    min-width: 35rem;
    margin: auto;
  }
}
@media screen and (max-width: 430px) {
  .posts-container {
    width: 100vw;
    min-width: 35rem;
    margin: auto;
  }
}
