.password-meter-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid black; */
}
meter {
  /* margin: auto; */
  /* border: 1px solid black; */
  width: 10rem;
  height: 1.5rem;
}
#password-strength-text {
  font-weight: bold;
  /* text-align: center; */
}

meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: orange;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}
