.my-recipes-container {
  width: 100vw;
  /* margin: 3rem auto; */
  /* background-color: red; */
  /* border: 1px solid black; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow-primary);
  /* border-radius: 10px; */
  position: relative;
}

.zoom-container {
  position: fixed;
  top: 8rem;
}

.my-recipes-searchbar,
.categories-container,
.recipes-container {
  box-shadow: var(--box-shadow-primary);
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
}

.my-recipe-logo-image {
  width: 90%;
  height: fit-content;
}

.my-recipes-searchbar {
  height: 4rem;
  /* padding: 0 3rem; */
}

.categories-container {
  /* border: 1px solid black; */
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.categories-container > div {
  /* width: 30%; */
  padding: 5px 7px;
  min-height: 2rem;
  /* border: 1px solid black; */
  cursor: pointer;
  background-color: var(--bg-navbar-color);
  /* padding: 2px; */
  color: white;
  /* font-weight: bold; */
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--box-shadow-primary);
  transition: all ease-in-out 0.3s;
}

.categories-container > div:hover {
  transform: scale(0.9);
}

.categories-container .Breakfast,
.recipes-container .Breakfast {
  background-color: #4681f4;
  position: relative;
}
.categories-container .Lunch,
.recipes-container .Lunch {
  background-color: #5dbea3;
  position: relative;
}
.categories-container .Dinner,
.recipes-container .Dinner {
  position: relative;
  background-color: #4681f4;
}
.categories-container .Appetizer,
.recipes-container .Appetizer {
  background-color: #f44336;
  position: relative;
}
.categories-container .Salad,
.recipes-container .Salad {
  background-color: #a881af;
  position: relative;
}
.categories-container .Side-dish,
.recipes-container .Side-dish {
  background-color: #33b249;
  position: relative;
}
.categories-container .Baked-goods,
.recipes-container .Baked-goods {
  background-color: #ffbd03;
  position: relative;
}
.categories-container .Vegetarian,
.recipes-container .Vegetarian {
  background-color: #180d0d;
  position: relative;
}
.categories-container .Holiday,
.recipes-container .Holiday {
  background-color: #dd7973;
  position: relative;
}
.categories-container .Fast-Food,
.recipes-container .Fast-Food {
  background-color: #a133b2;
  position: relative;
}

.categories-container h2 {
  width: 100%;
  text-align: center;
}

.recipes-container {
  display: flex;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow-primary);
  padding-top: 2rem;
  /* gap: 10px; */
  /* background-image: url("../../../../public/images/coverL.jpg"); */
}

.recipes-container .recipe-card {
  width: 30%;
  min-width: 200px;
  min-height: 200px;
  max-height: 250px;
  /* border: 1px solid black; */
  box-shadow: var(--box-shadow-primary);
  display: flex;
  flex-direction: column;
  /* border-radius: 15px; */
  cursor: pointer;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.recipe-card .recipe-bg {
  width: 100%;
  height: 200px;
  /* clear: both; */
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  background-size: cover;
  /* min-height: 20px; */
}

.recipe-image {
  width: 60%;
  height: 40%;
  /* border-radius: 15px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.recipes-container .recipe-card:hover {
  transform: scale(1.01);
}

.recipe-title-one {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
  /* text-align: center; */
  width: 100% !important;
  padding: 3px 10px;
}

.loading-absolute-container {
  position: absolute;
  top: 50vh;
  /* width: 100%; */
  /* height: 100vh; */
  /* box-shadow: none; */
  background-color: rgba(255, 255, 255, 0.334);
}

@media screen and (max-width: 530px) {
  .recipes-container > * {
    width: fit-content;
    min-height: fit-content;
    margin: 10px auto;
  }
  .recipes-container {
    box-shadow: none;
  }
}
