.chat-container-bruto {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 3rem auto;
  height: 75vh;
  /* border: 1px solid black; */
  box-shadow: var(--box-shadow-primary);
  background-image: linear-gradient(pink, red, pink, red);
}

.close-btn-chat {
  background-color: aliceblue;
  /* box-shadow: var(--box-shadow-primary); */

  padding-left: 1px;
}

.close-btn-chat div {
  box-shadow: var(--box-shadow-primary);

  /* border: 1px solid gray; */
  width: fit-content;
  padding: 0 2px;
  cursor: pointer;
}

.chat-container {
  background-image: url("../../../public/images/coverM.jpg");
  display: flex;
  width: 99%;
  height: 92%;
  min-height: 300px;
  margin: 0.5% auto;
}
/**============================================== FRIENDS CHAT =====================================*/

.friends-window-chat {
  width: 30%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 10px;
  /* position: relative; */
}

.search-freinds-chat-input {
  /* border: 1px solid black; */
  /* position: fixed; */
  /* top: -20px; */
}

.search-freinds-chat-input input {
  width: 97%;
  padding: 5px 0;
  margin: 2px auto;
  margin-left: 5px;
  border-radius: 5px;
  background-color: azure;
}

.freinds-container-chat {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  max-height: 95%;
  height: 100%;
  /* background-color: blue; */
  overflow-y: scroll;
}

/* ============== friend box */

.freinds-container-chat .friend-box-chat {
  /* border: 1px solid black; */
  box-shadow: var(--box-shadow-primary);
  width: 97%;
  margin: 5px auto;
  padding: 1.3rem 3px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  box-shadow: var(--box-shadow-nav);
  border: 1px solid transparent;
}
.friend-box-chat:hover,
.friend-box-chat:active {
  cursor: pointer;
  border: 1px solid red;
}

.selected-friend-chat {
  border: 1px solid red;
}

.friend-img-chat {
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  align-self: center;
}

.chat-small-avatar {
  border-radius: 50%;
  max-width: 30px;
  height: 30px;
}

.friend-box-data {
  margin-left: 5px;
  width: 100%;
  /* border: 1px solid black; */
}

.friend-box-content {
  display: flex;
  font-size: 10px;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.friend-box-name-container {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}
.friend-box-name {
  max-height: 3rem;
  overflow: hidden;
}

.friend-box-unread {
  /* padding: 0px 3px; */
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #1fd41f;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;

  border-radius: 50%;
}

.friend-box-last-msg,
.friend-box-last-msg-time {
  max-height: 2.5rem;
  /* overflow: hidden; */
  /* border: 1px solid black; */
  overflow: hidden;
  word-wrap: break-word;
}

.friend-box-last-msg {
  max-width: 60%;
}
/**============================================== BODY CHAT =====================================*/
.chat-body-container {
  /* min-width: 250px; */
  flex: 1;
  height: 100%;
  /* overflow-y: scroll; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
}

.current-friend-chat {
  width: 50%;
  border-radius: 5px;
  margin: 0 auto;
  /* border: 1px solid black; */
  text-align: center;
  font-size: larger;
  background-color: var(--bg-navbar-color);
}

.chat-body {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  /* border: 1px solid black; */
  /* background: wheat; */
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.chat-input {
  width: 99%;
  margin: 0 auto;
  height: 10%;
  min-height: 3rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.chat-input input {
  border-radius: 5px;
  flex: 9;
  padding: 5px;
  /* width: 90%; */
  /* border: none; */
}

.imogi-chat {
  flex: 1;
  /* border: 1px solid black; */
}

/* * body chat msg */
.message-text {
  border: #1fd41f 1px solid;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  width: fit-content;
}

.message-text.sended {
  background: #1fd41f;
  max-width: 80%;
}
.message-text.rechived {
  max-width: 80%;
  align-self: flex-end;
  text-align: right;
  background: pink;
  /* justify-self: flex-end; */
}

@media screen and (max-width: 730px) {
  .chat-container-bruto {
    width: 100vw;
    /* max-width: 95%; */
    /* flex-direction: column; */
  }
  .chat-body {
    /* width: 8; */
    flex: 1;
  }
}

.content-msg {
  /* display: flex; */

  width: 100%;
  /* padding: 0 20%; */
}

.msg-time {
  font-size: 10px;
}
