.classic-container {
  max-height: 300px;
  overflow-y: scroll;
  height: fit-content;
  /* border: 1px solid black; */
}

.post-image {
  max-width: 80%;
  margin: 0 1.5rem;
  /* border: 1px solid blue; */
  max-height: 70%;
}
