@media screen and (max-width: 800px) {
  .post-container {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  /* .post-rate {
    display: none;
    background-color: aqua;
  } */
  .like-comment-counter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }
  .post-title {
    /* margin-left: 1px; */
    flex-direction: column;
  }
  .post-title span {
    font-size: 10px;
  }
  .star-svg {
    width: 20px;
  }
  .post-image-container {
    margin: 0;
  }
}

/* PC */
.post-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 90%;
  /* height: 80vh; */
  margin: 3rem auto;
  box-shadow: var(--box-shadow-primary);
  background: white;
  overflow: hidden;
}

/* @media screen and (max-width: 700px) {
  .post-container {
    width: 60%;
  }
} */

/* top part  */
.post-user {
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--weak-line-color);
  width: 99%;
  margin: 5px auto;
}

.username-post {
  font-weight: bold;
}

.poster-user-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.posted-at-time {
  color: rgb(194, 194, 194);
  font-size: 1.2rem;
}

.user-poster-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.change-view {
  width: 55%;
  margin-right: 2rem;
  /* border: 1px solid black; */
}
.ul-change-view {
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* justify-content: center; */
}

/* content */
.post-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

/* blog */
.ul-action-take {
  display: flex;
  justify-content: space-around;
  border-top: 0.5px solid var(--weak-line-color);
  border-bottom: 0.5px solid var(--weak-line-color);
}

.like-comment-counter {
  /* display: none; */
  border-top: 1px solid var(--weak-line-color);
  border-bottom: 1px solid var(--weak-line-color);
  width: 95%;
  margin: 5px auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* position: relative; */
  padding-top: 5px;
  height: fit-content;
  /* background-color: red; */
}

/* stars */

.post-rate {
  margin: 0 20px;
  justify-self: flex-start;
  /* border: 1px solid black; */
  position: relative;
}

.show-votersLength {
  display: none;
  font-size: 1rem;
  position: absolute;
  top: -20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 2px 3px;
  border-radius: 5px;
  /* background-color: red; */
}

.show-votersLength::after {
  content: "";
  position: absolute;
  right: calc(50% - 2.5px);
  bottom: -2px;
  width: 5px;
  height: 5px;
  background-color: black;
  transform: rotate(45deg);
}

.post-rate:hover .show-votersLength {
  display: block;
}

.title-catagroy-container {
  display: flex;
  align-items: center;
  padding: 14px 0;
  margin: 0 auto;
  padding: 5px 0;
  /* overflow: hidden; */

  /* border: 1px solid black; */
}
.title-catagroy-container h1 {
}
.title-catagroy-container span {
  /* margin: 0; */
  margin-left: 10px;
  /* align-self: flex-end; */
  /* font-weight: bold; */
  color: rgb(91, 89, 89);
}

.active-view {
  background-color: var(--btn-primary-hover-color);
  border-radius: 7px;
}

.ul-action-take button,
.ul-change-view button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 2vw;
  margin-bottom: 0.5rem;
}

.ul-action-take button:hover,
.ul-change-view button:hover {
  background-color: var(--btn-primary-hover-color);
  border-radius: 7px;
}

li {
  list-style: none;
}

.input-post-data {
  background-color: transparent;
}
