@media screen and (max-width: 800px) {
  .post-container {
    width: 100%;
  }
}

/* PC */
.post-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 90%;
  /* height: 5  0vh; */
  margin: 3rem auto;
  box-shadow: var(--box-shadow-primary);
  background: white;
  overflow: hidden;
}

/* @media screen and (max-width: 700px) {
  .post-container {
    width: 60%;
  }
} */

/* top part  */
.post-user {
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
}

.username-post {
  font-weight: bold;
}

.poster-user-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.posted-at-time {
  color: rgb(194, 194, 194);
  font-size: 1.2rem;
}

.user-poster-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.change-view {
  width: 55%;
  margin-right: 2rem;
  /* border: 1px solid black; */
}
.ul-change-view {
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* justify-content: center; */
}

/* content */
.post-content {
  margin: 1rem;
  /* border: 1px solid black; */
}

/* blog */
.ul-action-take {
  display: flex;
  justify-content: space-around;
  border-top: 0.5px solid var(--weak-line-color);
  border-bottom: 0.5px solid var(--weak-line-color);
}

.like-comment-counter {
  border-top: 1px solid var(--weak-line-color);
  border-bottom: 1px solid var(--weak-line-color);
  height: 3.5rem;
  width: 90%;
  margin: 0.5rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 5px; */
}

.title-catagroy-container {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}
.title-catagroy-container h1 {
  margin: 0;
}
.title-catagroy-container span {
  /* margin: 0; */
  margin-left: 10px;
  align-self: flex-end;
  font-weight: bold;
  color: rgb(91, 89, 89);
}

.active-view {
  background-color: var(--btn-primary-hover-color);
  border-radius: 7px;
}

.ul-action-take button,
.ul-change-view button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 2vw;
  margin-bottom: 0.5rem;
}

.ul-action-take button:hover,
.ul-change-view button:hover {
  background-color: var(--btn-primary-hover-color);
  border-radius: 7px;
}

li {
  list-style: none;
}

/* stars */
.stars-container {
  width: 60%;
  margin: auto;
  padding: 2rem;
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
}
