.table-container {
  max-height: 100%;
  /* max-width: 85%; */
  overflow-y: scroll;
  /* min-height: 400px; */
  max-width: 90%;
  margin: auto;
  /* border: 1px solid black; */
  /* background-color: red; */
}

.table-title {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  z-index: 10;
}

.carousel-root {
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .secondary-column {
    font-weight: lighter !important;
  }
}
