.table-container {
  max-height: 300px;
  max-width: 200px;
  overflow-y: scroll;
  max-width: 75%;
  margin: auto;
  /* background-color: red; */
}

.table-title {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  z-index: 10;
}

.carousel-root {
  width: 95%;
  margin: auto;
}
