.login-container {
  background: url("../../../../public/images/signupM.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form h1 {
  text-align: center;
}

.login-form {
  width: 30%;
  height: 55%;
  min-width: 300px;
  max-width: 350px;

  /* height: 40%; */
  border-radius: 15px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 2rem;
  display: flex;
  box-shadow: var(--box-shadow-secondary);
  flex-direction: column;
  justify-content: space-evenly;
  animation: entrance 0.5s ease-in-out;
}

.auth-options-links {
  display: flex;
  flex-direction: column;
  color: blue;
  margin: 1rem 0;
}

.auth-options-links p {
  cursor: pointer;
}

@keyframes entrance {
  from {
    position: absolute;
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@media screen and (max-width: 700px) {
  .login-container {
    background: url("../../../../public/images/signupM.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .login-form {
    width: 50%;
    margin: auto;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .login-form {
    width: 60%;
    font-size: larger;
  }
}
