.form-fontrol {
  margin: 1rem 0;
  flex-direction: column;
  background-color: red;
  border: 1px solid black;
}

.form-fontrol label,
.form-fontrol input,
.form-fontrol textarea {
  display: block;
}

.form-fontrol label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.image-uplaod {
  width: 60%;
  height: 60%;
  min-width: 150px;
  min-height: 150px;
}

.image-upload__preview {
  /* background-color: red; */
  /* padding: 2rem; */
  margin: 5px 0;
}
