/* .container-frame {
  width: 60vmax;
  max-height: 70vh;
  background-color: #e9f0ee;
} */

.container-newRecipe-frame {
  background: url("../../../../public/images/coverL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: var(--box-shadow-primary);
}

.add-new-title-logo {
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px 10px pink inset;
  align-items: center;
  margin-bottom: 5px;
  /* border: 1px solid black; */
  font-size: 2rem;
  /* font-family: ; */
  padding: 5px;
  font-weight: bold;
  background-color: var(--bg-navbar-color);
  border-radius: 5px;
}

.next-back-buttons {
  /* width: 180%; */
  margin: auto;
  /* border: 1px solid black; */
  /* margin: 0; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 4rem;
}

.new-recipe-container {
  /* border: 1px solid black; */
  max-width: 80vw;
  min-height: 70vh;
  background-color: transparent;
  /* overflow-y: scroll; */
  border-radius: 5px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  /* gap: 50px; */
  /* padding: 20px 50px; */
}

.title-category {
  display: flex;
  width: 60%;
  /* height: 80px; */
  min-width: 20rem;
  padding: 1rem;
  /* margin: 1rem auto; */
  flex-direction: column;
}

.ingredient-container {
  /* flex: 1; */
  /* max-width: 60vw; */
  width: 100%;
  min-width: 40rem;
  max-height: 40rem;
  overflow-y: scroll;
  padding: 1rem;
  margin: auto;
  height: 200px;
  /* box-shadow: 2px 2px 20px 1px gray inset; */
}

.instructions-container {
  padding: 1rem;
  /* max-width: 80%; */
  max-height: 40rem;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding-right: 2rem; */
  width: 100%;
  min-width: 40rem;
  margin: auto;
  /* box-shadow: 2px 2px 20px 1px gray inset; */
}
.confirm-summary {
  min-width: 40rem;
  /* min-height: 40rem; */
  max-height: 50rem;
  overflow-y: scroll;
  /* flex: 10; */
  /* width: 100%; */
  margin: 0 1rem;
}

thead th {
  position: sticky;
  top: 0px;
  /* padding: 10rem 0; */
  /* background-color: #e6e4e4; */
}
/* table */

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  /* overflow: scroll; */

  /* width: 100%; */
  max-width: 100%;
  /* margin: auto; */
  white-space: nowrap;
  background-color: #f8f8f8;
}

.fl-table td,
.fl-table th {
  text-align: center;
  /* padding: 1rem; */
}
.fl-table th {
  padding: 1.5rem 1rem;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}

.fl-table thead th {
  color: #ffffff;
  background: var(--bg-navbar-color);
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: var(--bg-navbar-color);
}

.fl-table thead th:first-child {
  border-top-left-radius: 5px;
}
.fl-table thead th:last-child {
  border-top-right-radius: 5px;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
  /* width: 10px; */
}

/* Responsive */

@media (max-width: 67px) {
  .ingredients-recipe {
    width: 80%;
  }
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 1rem;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 2rem 0.625rem 0.625rem 0.625rem;
    height: 10rem;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 12rem;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table td {
    width: 30rem;
  }
  .text-area {
    /* height: 12rem; */
    /* background-color: red; */
    /* height: 25rem; */
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
  .text-area {
    height: 20rem;
  }

  td[data-label="instruction"] {
    height: 15rem;
    /* background-color: red; */
  }
  #instruction {
    height: 15rem;
  }
}
