.title-confirm-recipe {
  padding: 5px;
  margin: auto;
  height: fit-content;
  min-height: 90vh !important;
  /* width: 80vw !important; */
  /* max-width: 80vw !important; */
  /* max-height: 70vh; */

  /* background-color: red; */
}

.title-confirm-recipe h1 {
  margin: 15px auto;
  padding: 5px 0px 5px 15px;
  text-align: center;
  width: 95%;
  border-radius: 10px;
  background-color: var(--bg-navbar-color);
  box-shadow: 20px 20px 50px 10px pink inset;
  display: flex;
  justify-content: space-between;
}

.confirm-container {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
  padding: 3px;
  width: 95%;
  margin: 10px auto;
  background-color: aliceblue;
  position: relative;
  overflow-y: scroll;
  min-height: 50vh;
  border-radius: 10px;
}

.close-btn {
  margin-right: 2px;
  border: 1px solid brown;
  padding: 0 3px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  /* background: white; */
  transform: scale(0.95);
}

.ingredient-confirm-big {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 30%;

  height: fit-content;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.instructions-confirm-big {
  cursor: pointer;
  width: 50%;
  /* flex: 5; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 2rem;
  padding: 5px;
  text-align: left;
  line-height: 3rem;
  /* position: sticky; */
  top: 0;
  /* height: 300px; */
  /* overflow-y: scroll; */
  /* padding-left: 3rem; */
}

.instruction-row-confirm {
  /* border: 1px solid black; */
  border-radius: 5px;
  position: relative;
  /* min-height: 2rem; */
}

.float-step-num {
  position: absolute;
  top: -1.7rem;
  background-color: black;
  color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ingredient-row-confirm {
  padding: 1rem;
  /* border-bottom: black 1px dotted; */
}

#edit-delete {
  /* border: 1px solid black; */
  width: 80%;
  margin-left: 10%;
}

.recipe-image-zoom {
  width: 20%;
  height: 30%;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 730px) {
  .confirm-container {
    flex-direction: column-reverse;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
  }

  .instructions-confirm-big,
  .ingredient-confirm-big {
    border: none;
    margin: 0 auto;
    width: 90%;
  }

  .recipe-image-zoom {
    /* justify-self: flex-start; */
    /* width: fit-content; */
    width: 90%;
    /* align-self: flex-start; */
    margin: 0 auto;
  }
}
