.confirm-container {
  display: flex;
  margin-top: 0rem;
  gap: 1rem;
  padding: 20px;
  width: 95%;
  margin: 10px auto;
  /* background-color: aliceblue; */
}

.ingredient-confirm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  margin-left: 1rem;
  height: fit-content;
}

.instructions-confirm {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 2rem;
  padding: 5px;
  text-align: left;
  line-height: 3rem;
  /* padding-left: 3rem; */
}

.instruction-row-confirm {
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  /* min-height: 2rem; */
}

.float-step-num {
  position: absolute;
  top: -1.7rem;
  background-color: black;
  color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ingredient-row-confirm {
  padding: 1rem;
  border-bottom: black 1px dotted;
}
