.popup-menu {
  position: absolute;
  top: 50%;
  left: 5px;
  min-width: fit-content;
  max-width: 100px;
  /* min-height: 250px; */
  /* background-color: red; */
  animation: popUpleftRight 0.2s ease-out;
}

@keyframes popUpleftRight {
  from {
    left: -50%;
  }
  to {
    left: 5px;
  }
}

@media screen and (max-width: 700px) {
  .popup-menu {
    top: calc(50% + 10px);
    overflow-y: scroll;
    min-height: 250px;
    /* height: fit-content; */
    /* min-width: 200px; */
  }
  .popup-menu > * {
    max-height: 50px;
    /* width: 200px; */
  }
  .popup-option,
  .inner-box {
    margin: 1rem 1rem;
  }
}

.inner-box {
  /* border: 0.5px solid black; */
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 2rem;
  box-shadow: var(--box-shadow-secondary);
}

.popup-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 2rem;
  padding: 5px 2rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  cursor: pointer;
}
.popup-option:hover {
  background-color: var(--btn-primary-hover-color);
}

.popup-option span {
  font-size: larger;
  margin-left: 10px;
  padding: 2px;
}

.popup-option .fa-icon {
  padding: 6px;
  /* border: 1px solid; */
  box-shadow: var(--box-shadow-primary);
}
